/*
********************
	Montserrat
********************
*/

@font-face {
	font-family: 'Montserrat Light';
	src: url('/assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Amsi Pro Ultra';
	src: url('/assets/fonts/Stawix - AmsiPro-Ultra.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('/assets/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham';
	src: url('/assets/fonts/gotham/Gotham\ Black\ Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}